
<template id="home">
    <style>
        #coursesListLoader.lds-dual-ring {
            display: flex;
            width: 80px;
            height: 80px;
        }
    
        .lds-dual-ring:after {
            content: " ";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            border: 6px solid #000;
            border-color: #000 transparent #000 transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }
    
        @keyframes lds-dual-ring {
            0% {
                transform: rotate(0deg);
            }
    
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <div class="container text-center mt-3">
        <div class="display-1 fw-bold">課程學生名單</div>
        <div id="coursesList"
            class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 justify-content-center align-items-center g-2 mt-2">
            <div id="coursesListLoader" class="lds-dual-ring"></div>
        </div>
    </div>
    
</template>