<template id="studentList">
    <style>
        #coursesListLoader.lds-dual-ring {
            display: flex;
            width: 80px;
            height: 80px;
        }
    
        .lds-dual-ring:after {
            content: " ";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            border: 6px solid #000;
            border-color: #000 transparent #000 transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }
    
        @keyframes lds-dual-ring {
            0% {
                transform: rotate(0deg);
            }
    
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <div class="container">
        <div class="text-center mt-2 mb-3">
            <span class="fs-4" id="courseName">課程</span>
        </div>
        <div class="row row-cols-4 justify-content-center align-items-center">
            <div class="col text-center">
                <button id="back" class="btn btn-secondary"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;回上一頁</button>
            </div>
            <div class="col text-center">
                <button id="rollCall-start" class="btn btn-success"><i class="fas fa-school"></i>&nbsp;&nbsp;發起上課點名</button>
            </div>
            <div class="col text-center">
                <button id="rollCall-end" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;發起下課前點名</button>
            </div>
            <div class="col text-center">
                <button id="getRollCallSitu" class="btn btn-primary">追蹤點名情況</button>
            </div>
        </div>
        <div id="studentListLoader" class="justify-content-center" style="display:flex; margin-top: 20vh;">
            <div class="lds-dual-ring"></div>
        </div>
        <div id="noStudent" class="text-center" style="display: none; margin-top: 20vh;">
            <span class="display-3 fw-bold">沒有任何學生</span>
        </div>
        <div id="studentList" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mt-2"></div>
    </div>
</template>