<template id="studentRollCall">
    <style>
        .lds-dual-ring {
            display: flex;
            width: 180px;
            height: 180px;
        }

        .lds-dual-ring:after {
            content: " ";
            display: block;
            width: 128px;
            height: 128px;
            margin: 8px;
            border-radius: 50%;
            border: 6px solid #000;
            border-color: #000 transparent #000 transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }

        @keyframes lds-dual-ring {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <div class="conatiner text-center mt-3">
        <div id="loadingBar" class="row justify-content-center">
            <div class="lds-dual-ring"></div>
        </div>
        <div id="rollcallArea" style="display: none;">
            <span id="courseName" class="display-5 fw-bold">課程</span>
            <button id="rollcall" class="btn btn-success fs-3 mt-4">點名！</button>
        </div>
    </div>
</template>