<template id="teacherDashBoard">
    <style>
        #coursesListLoader.lds-dual-ring {
            display: flex;
            width: 80px;
            height: 80px;
        }
    
        .lds-dual-ring:after {
            content: " ";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            border: 6px solid #000;
            border-color: #000 transparent #000 transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }
    
        @keyframes lds-dual-ring {
            0% {
                transform: rotate(0deg);
            }
    
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <div class="container">
        <div id="coursesListLoader" class="justify-content-center" style="display:flex; margin-top: 20vh;">
            <div class="lds-dual-ring"></div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3" id="classList"></div>
    </div>
</template>